# [dbo].[TBLKATEGORI]

In [0]:
USE [mvcDb]
GO

In [0]:
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 16.01.2024 01:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[KATEGORIID] [smallint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORI] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TBLMUSTERILER]

In [0]:
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 16.01.2024 01:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TBLSATISLAR]

In [0]:
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 16.01.2024 01:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TBLURUNLER]

In [0]:
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 16.01.2024 01:59:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNADI] [varchar](50) NULL,
	[MARKA] [varchar](50) NULL,
	[URUNKATEGORI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[STOK] [tinyint] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TBLKATEGORI]

In [0]:
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] ON 
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (3, N'BİLGİSAYAR')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (4, N'PC ÜRÜNLERİ')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (8, N'TELEFON')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (9, N'GİYİM')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (10, N'DENEME')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (11, N'Ahşap Ürünler')
INSERT [dbo].[TBLKATEGORI] ([KATEGORIID], [KATEGORIAD]) VALUES (13, N'TV')
SET IDENTITY_INSERT [dbo].[TBLKATEGORI] OFF
GO

# [dbo].[TBLMUSTERILER]

In [0]:
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'AYFER', N'Yılmaz')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'İbrahim', N'YILMAZ')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (3, N'ALİ ', N'SIMSEK')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (8, N'Şevval ', N'Yılmaz')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (10, N'Uygar', N'Kocaoğlu')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (13, N'Musa', N'Mavi')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (14, N'Yusuf', N'Tekin')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
GO

# [dbo].[TBLSATISLAR]

In [0]:
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] ON 
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (1, 1, 1, 1, CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] OFF
GO

# [dbo].[TBLURUNLER]

In [0]:
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (1, N'ÇAMAŞIR MAKİNESİ', N'ARÇELİK', 1, CAST(1235.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (2, N'BULAŞIK MAKİNESİ', N'ARÇELİK', 1, CAST(1150.50 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (3, N'SU ISITICI(Kettle)', N'Arçelik', 1, CAST(250.00 AS Decimal(18, 2)), 45)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (4, N'ÜTÜ', N'TEFAL', 2, CAST(150.00 AS Decimal(18, 2)), 20)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (5, N'BUZDOLABI', N'REGAL', 1, CAST(7500.00 AS Decimal(18, 2)), 5)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (6, N'LAPTOP NIRVANA', N'TOSHİBA', 3, CAST(5000.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (8, N'HDD 250GB', N'TOSHİBA', 4, CAST(2200.00 AS Decimal(18, 2)), 25)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (10, N'KLAVYE ', N'LOGITEECH', 4, CAST(450.00 AS Decimal(18, 2)), 35)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (12, N'Mouse', N'Logitech', 4, CAST(145.00 AS Decimal(18, 2)), 25)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (22, N'Masa', N'Anonim', 11, CAST(1500.00 AS Decimal(18, 2)), 25)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
GO

# [FK_TBLSATISLAR_TBLMUSTERILER]

In [0]:
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO

# [FK_TBLSATISLAR_TBLURUNLER]

In [0]:
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO

# [FK_TBLURUNLER_TBLKATEGORI]

In [0]:
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORI] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORI]
GO